*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 300px;
  height: 300px;
  background-color: cadetblue;
  margin: 30px auto;
  background-image: url(./img/spidy.png), url(./img/sun.png);
}

.container_repeat{
  width: 300px;
  height: 300px;
  background-color: rgb(232, 155, 232);
  margin: 30px auto;
  background-image: url(./img/cloud.png);
  background-repeat: repeat-x;
  background-repeat: no-repeat;
  background-position: 30px 20px;
}

.container_size{
  width: 300px;
  height: 300px;
  background-color: cadetblue;
  margin: 30px auto;
  background-image: url(./img/spidy.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
}


/* ---------- */


body{
  display: flex;
  justify-content: space-evenly;
}

.atachment{
  width: 40%;
  height: 400px;
  margin-top: 40px;
  background-image: url(./img/img-hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title{
  color: white;
  text-align: center;
  font-size: 60px;
  margin-top: 90px;
}

.fixed{
  background-attachment: fixed;
}

.space{
  height: 3000px;
}